ghcp/

# exclude environment files
.env
.env.local

# exclude .vs
.vs/

# exclude testing folder for now
testing/

# exclude archives folder
archives/

# exclude complete/python/api folder
api/

# Exclude __pycache__ folders
__pycache__/

# Node modules
node_modules/

# Test files
coverage/

# Exclude python virtual environment
streamenv/



